*.*
!*.X
!*.c
!*.h
!*.csv
!*.net
!*.pro
!*.sch
!*.kicad_pcb
!*.kicad_mod
!*.xml
!sym-lib-table
!*.pretty
!*.txt
!*.md
!*.jpg
!*.png
!*.py
!*.tex
!*.cls
!*.clo
!*.pdf
!*.bst
!*.bib
!*.pbtxt
!*.md
!*.ipynb
!*.config
!*.pt
!*.yaml
!*.txt
!*.sh
!*.pb
!*.tflite
!*.mp4
!*.html
!LICENSE
!.gitignore
!*.stp
!*.SLDASM
!*.SLDPRT
!*.STEP

/lib/Mavlink_minimal.X/build/
/lib/Mavlink_minimal.X/dist/
/lib/Test_harness.X/build/
/lib/Test_harness.X/dist/
/lib/RC_servo.X/build/
/lib/Radio_serial.X/build/
/lib/RC_RX.X/build/
/lib/NEO_M8N.X/build/
/Quadcopter/Controller/Quad_passthrough.X/build/
/lib/ICM-20948.X/build/
/lib/Serial.X/build/
/lib/RC_ESC.X/build/
/lib/RC_ESC.X/dist/